@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --color-main: #7f3a65;
  --color-secondary-yellow: #e7c54b;
  --color-neutral-gray: #707070;
  --color-neutral2: #6c7278;
}
