<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Match Room</title>
		{{ encore_entry_link_tags('app') }}
	</head>
	<body>
		<div id="root"></div>
		{% include '_vite_entry.twig' %}

		{{ encore_entry_script_tags('app') }}
	</body>
</html>
